body {
  font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: transparent; */
}
.main {
  background-color: black;
  width: 960px;
  height: 50vh;
  border-radius: 15px;
  overflow: hidden;  /* hides the corner of the border radius  */
  display: flex;
  flex-direction: column;
}
.minting-section {
  display: flex;
  color: white; 
  flex-grow: 1; /* this will allow the footer to be in the bottom */
}  
video {
  object-fit: contain;
}
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; /* vertical centering */
}
.wallet-btn {
  cursor: pointer;
  font-weight: 700;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  color: black;
  margin-top: 10px;
}
button {
  outline: 1px solid #da8301!important;
}
button:hover {
  -webkit-box-shadow: 0 0 1rem rgb(0 0 0 / 60%);
  box-shadow: 0 0 1rem rgb(0 0 0 / 60%);
} 
/* .mintStart {
  display: flex;
  gap: 20px; 
  transition: 0.25s all ease-in-out;

} */
.wallet-btn:hover {
  background-color: #0d9ed8;
  color: #fff;
}
.background-video {
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;  
}
.actions {
  display: flex;
  gap: 20px;
}
.right {
  width: 50%;
  color: #fff;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-right: 20px;
}
.info-text {
  color: #999;
  font-size: 18px;
}
h2 {
  font-size: 30px;
  margin: 0;
}
.footer {
  background-color: #1817dd;
  color: #f5def5; 
  height: 30px;
  display: flex;
  justify-content: center; /* horizontal center  */
  align-items: center; /* vertically center  */
}

