.App {
 height: 100vh;
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: yellow;
}

.main {
  background-color: black;
  width: 960px;
  height: 50vh;
  border-radius: 15px;
  overflow: hidden;  /* hides the corner of the border radius  */
  display: flex;
  flex-direction: column;
}
 
.mintingSection {
display: flex;
color: white; 
flex-grow: 1; 
/* this will allow the footer to be in the bottom */
}  

.left {
 width: 50%;
}
.right {
width: 50%;
}  
.footer {
background-color: #1817dd;
color: #f5def5; 
height: 30px;
display: flex;
justify-content: center; /* horizontal center  */
align-items: center; /* vertically center  */
}

